@media (max-width: 767px) { 
	.contact--item--actions label { text-align:center; }
	.contact--item--actions .switch-slide{
		position:relative;
		left:50%;
		margin-left:-3em; 
	}
	.contact--item--actions button{ 
		position:relative;
		left:50%;
		margin-left:-0.5em; 
	}
	
	.contact--details .contact--details--top .contact--details--top--image .contact--details--top__image{
		position:relative;
		width:25%;
		height:25%;
		left:50%;
		margin-left:-12.5%;
		border-radius:50%;
	}
	.ui-widget { font-family: @font-body; font-size: 1.5em; }
}